<html>
	<head>
		<title>We Love Sirisak 4 Life</title>
	</head>
	<body>
		<div>
			<h1>2016 Tribute to Sirisak</h1>
		</div>

		<div>
			<h2>The Man...</h2>
		</div>

		<div>
			<h3>The Myth...</h3>
		</div>

		<div>
			<h4>The Legend...</h4>
		</div>

		<div>
			<h5><strong>SIRISAK</strong></h5>
		</div>
	
		<div>
			<p><em>Content to come</em></p>
			<br />
			<p>Eventually...</p>
			<br />
		</div>

		<div>
			<p>Reasons to Love Sirisak:</p>
			<ul><li>His hair</li><li>His smile</li><li>His walk</li><li>His Siri</li><li>His Sak</li></ul>
		</div>

		<div>
			<p>See also: <a href="">http://leoniethorne.pythonanywhere.com/</a></p>
		</div>

	</body>
</html>

