<html>
	<head>
		<title>We Love Sirisak 4 Life</title>
	</head>
	<body>
		<div>
			<h1>2016 Tribute to Sirisak</h1>
		</div>

		<div>
			<h2>The Man...</h2>
		</div>

		<div>
			<h3>The Myth...</h3>
		</div>

		<div>
			<h4>The Legend...</h4>
		</div>

		<div>
			<h1><strong>SIRISAK</strong></h1>
		</div>

			<p><img src="http://tse3.mm.bing.net/th?id=OIP.M9b6474796a674d47e366b97a484b2c62H0&pid=15.1" alt="she doesn't have to know"></p>
		<div>
			<p>Reasons to Love Sirisak:</p>
			<ul><li>His hair</li><li>His smile</li><li>His walk</li><li>His Siri</li><li>His Sak</li></ul>
		</div>

		<div>
			<p>See also: <a href="http://leoniethorne.pythonanywhere.com/">Further information on Sirisak</a></p>
		</div>

	</body>
</html>

